<footer class="noshow">
    <h3>
        Design &amp; Development by EmAnt, using
        <a href="http://en.wikipedia.org/wiki/Free_and_open-source_software" alt="Free Open Source Software"
            title="Free Open Source Software">FOSS</a>
        - Background Image from <a href="https://pixabay.com/">PIXABAY</a> -
        Copyright &copy;2015 by EmAnt
    </h3>
</footer>