<div id="home_cont">
  <img id="logo" class="noshow" xlink:href="./images/logo.svg" src="./images/logo.png" alt="Em-Ant Logo"
    title="Emanuele's Logo" />
  <div id="info" class="noshow">
    <h1 class="hide-sm">Hello, I am Emanuele</h1>
    <p class="hide-sm">Have a look at my web footprint:</p>
  </div>
  <nav class="links noshow">
    <ul class="list-inline">
      <li>
        <a class="main-links fcc" href="https://www.freecodecamp.com/em-ant" alt="Emanuele on Free Code Camp"
          title="Emanuele on Free Code Camp" target="_blank"></a>
      </li>
      <li>
        <a class="main-links hr" href="https://www.hackerrank.com/em_ant" alt="Emanuele on HackeRank"
          title="Emanuele on HackerRank" target="_blank"></a>
      </li>
      <li>
        <a class="main-links cwars" href="https://www.codewars.com/users/Em-Ant" alt="Emanuele on Codewars"
          title="Emanuele on Codewars" target="_blank"></a>
      </li>
    </ul>
    <ul class="list-inline ul-inline">
      <li>
        <a class="main-links git" href="https://github.com/Em-Ant" alt="Emanuele on GitHub" title="Emanuele on GitHub"
          target="_blank"></a>
      </li>
      <li>
        <a class="main-links cdp" href="https://codepen.io/Em-Ant/" alt="Emanuele on CodePen"
          title="Emanuele on Codepen" target="_blank"></a>
      </li>
    </ul>
    <ul class="list-inline ul-inline">
      <li>
        <a class="main-links mail" href="#contacts" data-toggle="modal" title="Click here to contact Me!"
          data-target="#contacts-modal"></a>
      </li>
    </ul>
  </nav>
  <div id="portfolio" class="noshow">
    <a href="#/portfolio" id="pfolio_link" alt="Web developer Portfolio" title="Web developer Portfolio"></a>
    <p class="caption">Developer Portfolio</p>
  </div>
</div>