<div id="pfolio-cont" style="display: none">
  <div id="back">
    <a href="#" alt="Back to Home" title="Back to Home"><span class="glyphicon glyphicon-chevron-left"
        aria-hidden="true"></span></a>
  </div>
  <h2 class="w-90">Some Selected Projects...</h2>
  <div class="row pfolio-item">
    <div class="col-sm-4">
      <a href="https://www.youtube.com/watch?v=V8B4orj0M7Y" target="blank_"
        alt="Options, Inc. transport app description video" target="_blank">
        <img src="./images/opts.jpg" alt="Options, Inc. transport app description video"
          class="img-responsive img-centered" />
      </a>
    </div>
    <div class="col-sm-8 item-info">
      <h3>
        Transportation App for
        <a href="https://options-inc.org/" alt="Options, Inc. Big Lake MN" title="Option, Inc. Website"
          target="_blank">Options, Inc.</a>
      </h3>
      <p>
        Options, Inc. is a non-profit organization which helps people with
        disabilities. We built a transportation management app to help them to
        organize daily routes for 24 vehicles and about 250 consumers. You can
        see a detailed description of the project in
        <a href="https://www.youtube.com/watch?v=V8B4orj0M7Y" title="Options Inc. project description video"
          target="_blank">this video</a>. A dummy version of the app is hosted
        <a href="https://transport-app-demo.herokuapp.com/" target="_blank">here</a>
        ( login: <span class="code">admin/admin@test.com</span> ). Check the
        <a href="https://github.com/Em-Ant/fcc-options-app" target="_blank">source code</a>.
      </p>
      <ul class="item-details">
        <li>
          <strong>
            Volunteer project with
            <a href="http://www.freecodecamp.com" target="_blank">freeCodeCamp</a>
          </strong>
        </li>
        <li>
          <strong>March - May 2016 </strong>
        </li>
        <li>
          <strong>Express, Mongo, React, Redux, Google Maps API </strong>
        </li>
      </ul>
    </div>
  </div>
  <div class="row pfolio-item">
    <div class="col-sm-4">
      <a href="http://emant.altervista.org/micro/" target="_blank" alt="REST API demo - php5">
        <img src="./images/mserv.jpg" alt="microservice API home" class="img-responsive img-centered" />
      </a>
    </div>
    <div class="col-sm-8 item-info">
      <h3>REST API microservice demo</h3>
      <p>
        A working RESTful API microservice demo, providing interesting data and
        informations. I Implemented two versions of this project. You can find
        the php5+SQLite3 version
        <a href="http://emant.altervista.org/micro/" target="_blank" alt="php5 rest api">here</a>. The source code is
        hosted on my
        <a href="https://github.com/Em-Ant/API_projects_php5" target="_blank" alt="php5 REST API source">github</a>
        profile. The Express+MongoDB version is hosted on
        <a href="https://gomix.com/#!/project/micro-api" target="_blank" alt="node.js REST API link">Gomix</a>, where
        you can also see the source code
      </p>
      <ul class="item-details">
        <li>
          <strong>
            Requirement for the
            <a href="https://www.freecodecamp.com" target="_blank">freeCodeCamp</a>
            course
          </strong>
        </li>
        <li>
          <strong>February 2016 </strong>
        </li>
        <li>
          <strong>php5+apache+SQLite3 | JS+Express+MongoDB </strong>
        </li>
      </ul>
    </div>
  </div>
  <div class="row pfolio-item">
    <div class="col-sm-4">
      <a href="http://codepen.io/Em-Ant/full/QbRyqq" target="_blank" alt="Simon Game on Codepen">
        <img src="./images/simon.jpg" alt="Simon Game on Codepen" class="img-responsive img-centered" />
      </a>
    </div>
    <div class="col-sm-8 item-info">
      <h3>Simon Game</h3>
      <p>
        An emulation of the classic memory game using jQuery. Graphics are pure
        CSS. It uses the new AudioContext API, so you need an up-to-date version
        of a modern browser to run it. See the code and play it live on
        <a href="http://codepen.io/Em-Ant/full/QbRyqq" target="_blank">Codepen</a>
      </p>
      <ul class="item-details">
        <li>
          <strong>
            Requirement for the
            <a href="http://www.freecodecamp.com" target="_blank">freeCodeCamp</a>
            course
          </strong>
        </li>
        <li>
          <strong>August 2015 </strong>
        </li>
        <li>
          <strong>HTML, CSS, JQuery, WebAudio API </strong>
        </li>
      </ul>
    </div>
  </div>
  <div class="row pfolio-item">
    <div class="col-sm-4">
      <a href="http://codepen.io/Em-Ant/full/OVabRP" target="_blank" alt="Pocket calculator project on codepen">
        <img src="./images/calc.jpg" alt="Pocket calculator project on codepen" class="img-responsive img-centered" />
      </a>
    </div>
    <div class="col-sm-8 item-info">
      <h3>Pocket Calculator</h3>
      <p>
        A bootstrap and jQuery powered emulation of a vintage pocket calculator.
        It features the classic operator chaining workflow, and the percent
        operator in windows calc mode. See the code and try it live on
        <a href="http://codepen.io/Em-Ant/full/OVabRP" target="_blank">Codepen</a>
      </p>
      <ul class="item-details">
        <li>
          <strong>
            Requirement for the
            <a href="http://www.freecodecamp.com" target="_blank">freeCodeCamp</a>
            course
          </strong>
        </li>
        <li>
          <strong>July 2015 </strong>
        </li>
        <li>
          <strong>HTML, CSS, JQuery, Bootstrap </strong>
        </li>
      </ul>
    </div>
  </div>
  <div class="row pfolio-item">
    <div class="col-sm-4">
      <a href="http://codepen.io/Em-Ant/full/vObzWm" target="_blank" alt="Pomodoro Clock project on codepen">
        <img src="./images/pomo.jpg" alt="Pomodoro Clock project on codepen" class="img-responsive img-centered" />
      </a>
    </div>
    <div class="col-sm-8 item-info">
      <h3>Pomodoro Clock</h3>
      <p>
        A timer to help improving your skills. See how it works
        <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique" title="Pomodoro technique on Wikipedia"
          target="_blank">here</a>. Made with simple CSS, and jQuery. The custom vector arts are made in
        Inkscape. See the code and try it live on
        <a href="http://codepen.io/Em-Ant/full/vObzWm" target="_blank">Codepen</a>
      </p>
      <ul class="item-details">
        <li>
          <strong>
            Requirement for the
            <a href="http://www.freecodecamp.com" target="_blank">freeCodeCamp</a>
            course
          </strong>
        </li>
        <li>
          <strong>August 2015 </strong>
        </li>
        <li>
          <strong>HTML, CSS, JQuery, Vector Graphics </strong>
        </li>
      </ul>
    </div>
  </div>
  <div class="row pfolio-item">
    <div class="col-sm-4">
      <a href="http://tbtc.herokuapp.com/" target="_blank" alt="Book Club project on Heroku">
        <img src="./images/book.jpg" alt="Book Club project on Heroku" class="img-responsive img-centered" />
      </a>
    </div>
    <div class="col-sm-8 item-info">
      <h3>Book Trading Club</h3>
      <p>
        Fully functional book swapping website, built with the
        <a href="https://en.wikipedia.org/wiki/MEAN_%28software_bundle%29" target="_blank">MEAN</a>
        stack. Try it live on
        <a href="http://tbtc.herokuapp.com/" target="_blank">Heroku</a>. Explore
        source code on <a href="https://github.com/Em-Ant/book-club">GitHub</a>.
      </p>
      <ul class="item-details">
        <li>
          <strong>
            Requirement for the
            <a href="http://www.freecodecamp.com" target="_blank">freeCodeCamp</a>
            course
          </strong>
        </li>
        <li>
          <strong>October 2015 </strong>
        </li>
        <li>
          <strong>Node, Express, Mongoose, Angular, Bootstrap </strong>
        </li>
      </ul>
    </div>
  </div>
  <div class="row pfolio-item">
    <div class="col-sm-4">
      <a href="http://nightzone.herokuapp.com/" target="_blank" alt="Nightlife coordination project on Heroku">
        <img src="./images/nzone.jpg" alt="Nightlife coordination project on Heroku"
          class="img-responsive img-centered" />
      </a>
    </div>
    <div class="col-sm-8 item-info">
      <h3>Nightzone</h3>
      <p>
        Nightlife coordination app, built with React, MongoDB, Node and Express.
        Features Twitter login, and a custom responsive design. Powered by the
        <a href="http://www.yelp.com">Yelp</a> search API. Try it live on
        <a href="http://nightzone.herokuapp.com/" target="_blank">Heroku</a>.
        Explore source code on
        <a href="https://github.com/Em-Ant/fcc-nightzone">GitHub</a>.
      </p>
      <ul class="item-details">
        <li>
          <strong>
            Requirement for the
            <a href="http://www.freecodecamp.com" target="_blank">freeCodeCamp</a>
            course
          </strong>
        </li>
        <li>
          <strong>February 2016 </strong>
        </li>
        <li>
          <strong>Express, Mongo, React, Twitter OAuth, Yelp API </strong>
        </li>
      </ul>
    </div>
  </div>
  <div class="row pfolio-item">
    <div class="col-sm-4">
      <a href="http://pic-terest.herokuapp.com/" target="_blank" alt="Pinterest clone project on Heroku">
        <img src="./images/pict.jpg" alt="Pinterest clone project on Heroku" class="img-responsive img-centered" />
      </a>
    </div>
    <div class="col-sm-8 item-info">
      <h3>Picterest</h3>
      <p>
        Pinterest-like web app, built with Bootstrap, React, MongoDB, Node and
        Express. You can submit links to you favorite images. Also features a
        link liking system. The eye-catching animated grid layout is powered by
        <a href="http://masonry.desandro.com/">Masonry</a>. Try it live on
        <a href="http://pic-terest.herokuapp.com/" target="_blank">Heroku</a>.
        Explore source code on
        <a href="https://github.com/Em-Ant/pic-terest">GitHub</a>.
      </p>
      <ul class="item-details">
        <li>
          <strong>
            Requirement for the
            <a href="http://www.freecodecamp.com" target="_blank">freeCodeCamp</a>
            course
          </strong>
        </li>
        <li>
          <strong>February 2016 </strong>
        </li>
        <li>
          <strong>Express, Mongo, React, Twitter OAuth, Masonry </strong>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 more-stuff">
      <p class="text-center">
        More stuff on
        <a href="http://codepen.io/Em-Ant/" target="_blank" title="Em Ant on Codepen">Codepen</a>
        and
        <a href="http://www.freecodecamp.com/Em-Ant" title="Em Ant on freeCodeCamp">freeCodeCamp</a>.
      </p>
    </div>
  </div>
</div>